.stock,
.category {
    text-align: left;
    height: 33%;
    font-weight: bold;
}

.goal {
    font-size: 2rem;
    height: 50%;
    font-weight: bold;
}

.critical {
    background-color: red;
    border-color: red;
}

.warning {
    background-color: rgb(196, 137, 8);
    border-color: rgb(196, 137, 8);
}

.reached {
    background-color: green;
    border-color: green;
}