.stock,
.category {
    text-align: left;
    height: 33%;
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goal {
    font-size: 2rem;
    height: 50%;
    font-weight: bold;
}

.icon {
    position: absolute;
    top: 7px;
    right: 5px;
}

.icon svg {
    height: 35px;
    width: 35px;
}