<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /prepper/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /prepper/index.html [L]
</IfModule>