.input {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.input label {
    font-weight: bold;
    padding: 6px 0;
}

.input input {
    font: inherit;
    width: 100%;
    padding: 10px 15px;
    font-size: 0.8rem;
    border-radius: 3px;
    border: 1px solid #efefef;
}

.input input:read-only {
    opacity: 0.5;
}

.input span {
    font-size: 0.7rem;
    padding: 6px;
}

.input input:focus,
.input input:enabled,
.input input:active {
    outline: none;
}