.header {
  position: fixed;
  top: 0;
  height: 5rem;
  margin: 0 auto;
  width: calc(100% - 2px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  border: 1px solid #fff;
}

.header .inner {
  padding: 1.5rem;
  color: inherit;
}