.main {
    position: relative;
    margin: 0 auto;
    overflow: scroll;
    padding: 90px 20px 30px 20px;
    height: calc(100vh - 120px);
}

.main.disable-scroll {
    overflow: hidden !important;
}
