.stock-item {
    margin: 10px 0;
    position: relative;
    border-radius: 5px;
    display: flex;
}

.stock-item a {
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    flex-grow: 2;
}

.stock-item .data h3 {
    margin: 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stock-item .data span {
    display: block;
    font-size: 0.7rem;
}

.stock-item .data span.amount {
    display: inline-block;
}

.stock-item .category,
.stock-item .meta {
    color: #616060;
}

.stock-item .meta {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.stock-item .meta span {
    display: block;
    font-size: 0.5rem;
    text-align: right;
}

.stock-item .id {
    position: absolute;
    right: 5px;
    font-size: 0.4rem;
    top: 5px;
}

.stock-item .increase,
.stock-item .reduce {
    cursor: pointer;
    padding: 10px;
}

.stock-item .increase svg,
.stock-item .reduce svg {
    /*width: 100%;*/
    height: 100%;
}