.stock-item {
    border-radius: 3px;
    margin: 25px 0;
    position: relative;
}

.stock-item a {
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    color: #000;
    display: block;
    cursor: pointer;
}

.stock-item .category,
.stock-item .meta {
    color: #616060
}

.stock-item .meta {
    font-size: 0.7rem;
}

.stock-item .actions {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    min-width: 100px;
}