.navigation-wrapper {
    position: absolute;
    top: 90px;
    z-index: 5;
    opacity: 0.98;
    background: #0049b7;
    padding: 25px;
    height: calc(100% - 140px);
    width: calc(100vw - 50px);
    transition: left 0.2s linear;
}

.navigation-wrapper.visible {
    left: 0;
}

.navigation-wrapper.invisible {
    left: -100vw;
}

.navigation-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-item:not(:nth-last-of-type(-n + 1)) {
    border-bottom: 1px solid #fff;
}

.navigation-item a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.1rem;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.navigation-item a svg {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
