.back {
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #18068a;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all linear 0.4s;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.back:hover {
    background-color: #18068a;
    color: #fff;
}